.container {
    display:grid;
    grid-template-areas:
        "header header"
        "navbar navbar"
        "content1 content2"
        "footer footer"
    ;
}

.navbar {
    grid-area: navbar;
    border: 2px solid rgb(2, 69, 255);
}

.header {
    grid-area: header;
    background-color:  rgb(0, 132, 255);
}

.content1{
    grid-area: content1;
    border: 2px solid rgb(2, 69, 255);
}
.content2{
    grid-area: content2;
    border: 2px solid rgb(2, 69, 255);
}

.footer{
    grid-area: footer;
    border: 2px solid rgb(2, 69, 255);
}

body {
    background-color: rgb(0, 132, 255);
}